@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400');

:root {
  --fg-color: rgba(224, 226, 219, 1);
  --bg-color: rgba(17, 17, 17, 1);
  --color   : rgba(230, 175, 46, 1);  
}

body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: var(--fg-color);
  max-width: 44rem;
  padding: 2rem;
  margin: auto;
  background: var(--bg-color);
}
img {
  max-width: 100%;
}
a {
  /*color: var(--color);*/
}

a.button {
  color: var(--color);
  border: 2px solid;
  border-radius: 100px;
  padding: 2rem;
  text-decoration: none;
  margin: 0 auto;
  transition: background 0.5s ease-out;
  outline: none;
}

a.button:hover {
  color: var(--bg-color);
  background: var(--color);
  transition: background 1s ease-out;
}

a.heading {
  padding: 0rem;
  color: var(--fg-color);
  outline: none;
  text-decoration: none;
}

button.submit {
  background-color: var(--color);
  color: var(--bg-color);
  border: 2px solid;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 100px;
  padding: 1.5rem;
  margin: 15px auto;
  transition: background 0.5s ease-out;
  outline: none;
}

button.submit:hover {
  color: var(--color);
  background-color: var(--bg-color);
  transition: background 0.5s ease-out;
}

h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #fff;
}

h1 {
  font-weight: 100;
  font-size: 7.5rem;
  padding: 4rem;
}

h1 > small {
  font-size: 1.5rem;
}

form {
  margin: 0;
  padding: 5px;
}

p > label {
  display: block;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
fieldset {
/* required to properly style form 
   elements on WebKit based browsers */
  -webkit-appearance: none;
  
  width : 100%;
  border: 1px dashed var(--bg-color);
  border-radius: 5px;
  padding: 10px;
  
  font-family: inherit;
  font-size: 90%;
  
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


input, textarea {
	background-color: var(--bg-color);
  border: 2px dashed var(--color);
  color: var(--fg-color)
}

input:focus, textarea:focus {
    border: 2px solid var(--color);
    background-color: var(--bg-color);
    outline: 0;
}

/*input.no-border.ng-invalid, textarea.no-border {
    border-color: none;
}*/
input:valid, textarea:valid {
	border-color: var(--color);
	border-width: 3px;
}

input:invalid, textarea:invalid {
	border-color: #FA787E!important;
	border-style: solid!important;
	border-width: 3px!important;
}

.grid-row, .grid-header {
  display:flex;
/*   flex: 1 0 auto; */
/*   height: auto; */
}

.grid-row {
  margin-bottom: 1em;
  margin-right: 2em;
}

.grid-header {
  align-items: flex-end;
  margin-top: 2em;

}
.header-item {
  width:100px;
  text-align:center;
/*   border:1px solid transparent; */
}
.header-item:nth-child(1) {
  width:180px;
}
[type="radio"], [type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.flex-item:before {
  content: '';
  padding-top:26%;
}

.flex-item {
  display:flex;
/*   flex-basis:25%; */
  width:100px;
  /*border-bottom:1px solid #ccc;*/
  justify-content: center;
  align-items:center;
/*   text-align:left; */
  font-size: 1em;
  font-weight:normal;
  color:#999;
}

.flex-item:nth-child(1) {
  border:none;
  font-size:1.15em;
  color: var(--fg-color);
  font-weight: 300;
  width:180px;
  justify-content: left;
}

/* One radio button per line */
label {
  /*display: block;*/
  cursor: pointer;
}

/* the basic, unchecked style */
[type="radio"] + span:before,
[type="checkbox"] + span:before{
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.25em;
  border-radius:.25em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #555;
  transition: 0.5s ease all;
}
[type="checkbox"] + span:before {
  margin-right: 0.75em;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before,
[type="checkbox"]:checked + span:before{
  background: var(--color);
  box-shadow: 0 0 0 0.25em #666;
}

/* never forget focus styling */
[type="radio"]:focus span:after {
  content: '\0020\2190';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}
