<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>M.I.R.R.O.R | Configurator</title>
    <link rel="stylesheet" href="/static/baserock.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
</head>
<body>
    <a href="/" class="heading"><h1 align="center">M.I.R.R.O.R<br><small>Most Instantaneous Reproducible Research On 'Roids</small></h1></a>
    <form id="requirements" action="/processing" onsubmit="return validateForm()"  name="configurator" method="POST">
        <h2>Project Name</h2>
        <input type="text" class="name" name="project_name">

        <div class="grid-header">
            <div class="header-item"></div>
            <div class="header-item">Python 2.7</div>
            <div class="header-item">Python 3.6</div>
        </div>
        <div class="grid-row">
            <div class="flex-item">Default Python Version</div>
            <label class="flex-item">
                <input type="radio" class="python_version" value="python2" name="python_version" checked><span></span>
            </label>
            <label class="flex-item">
                <input type="radio" class="python_version" value="python3" name="python_version"><span></span>
            </label>
        </div>

        <script>
            $(document).ready(function () {
                $('.python_version').click(function () {
                    $('.python_version').not(this).prop('checked', false);
                });
            });
        </script>

        <div class="grid-header">
            <div class="header-item"></div>
            <div class="header-item">CPU</div>
            <div class="header-item">CUDA 8</div>
            <div class="header-item">CUDA 9</div>
            <div class="header-item">CUDA 10</div>
        </div>
        <div class="grid-row">
            <div class="flex-item">Backend</div>
            <label class="flex-item">
                <input type="checkbox" class="primary_architecture" value="cpu" name="cpu" checked onclick="return false"><span></span>
            </label>
            <label class="flex-item">
                <input type="radio" class="cuda_version" value="cuda8" name="cuda_version"><span></span>
            </label>
            <label class="flex-item">
                <input type="radio" class="cuda_version" value="cuda9" name="cuda_version"><span></span>
            </label>
            <label class="flex-item">
                <input type="radio" class="cuda_version" value="cuda10" name="cuda_version"><span></span>
            </label>
        </div>
        <script>
            $(document).ready(function () {
                $('.cuda_version').click(function () {
                    $('.cuda_version').not(this).prop('checked', false);
                });
            });
        </script>

        <div class="grid-header">
            <div class="header-item"></div>
            <div class="header-item">PyTorch</div>
            <div class="header-item">Tensorflow</div>
        </div>
        <div class="grid-row">
            <div class="flex-item">Deep Learning Frameworks</div>
            <label class="flex-item">
                <input type="checkbox" class="mllib" value="pytorch" name="dl_frameworks"><span></span>
            </label>
            <label class="flex-item">
                <input type="checkbox" class="mllib" value="tensorflow" name="dl_frameworks"><span></span>
            </label>
        </div>

        <div class="grid-header">
            <div class="header-item"></div>
            <div class="header-item">NumPy</div>
            <div class="header-item">SciPy</div>
            <div class="header-item">Pandas</div>
            <div class="header-item">Matplotlib</div>
            <div class="header-item">Scikit-Learn</div>
        </div>
        <div class="grid-row">
            <div class="flex-item">Python Libraries</div>
            <label class="flex-item">
                <input type="checkbox" class="pylibs" value="numpy" name="pylibs"><span></span>
            </label>
            <label class="flex-item">
                <input type="checkbox" class="pylibs" value="scipy" name="pylibs"><span></span>
            </label>
            <label class="flex-item">
                <input type="checkbox" class="pylibs" value="pandas" name="pylibs"><span></span>
            </label>
            <label class="flex-item">
                <input type="checkbox" class="pylibs" value="matplotlib" name="pylibs"><span></span>
            </label>
            <label class="flex-item">
                <input type="checkbox" class="pylibs" value="scikit-learn" name="pylibs"><span></span>
            </label>
        </div>

        <div class="grid-header">
            <div class="header-item"></div>
            <div class="header-item">Jupyter</div>
            <div class="header-item">VSCode</div>
        </div>
        <div class="grid-row">
            <div class="flex-item">Code Editors</div>
            <label class="flex-item">
                <input type="checkbox" class="editors" value="jupyter" name="editors" checked><span></span>
            </label>
            <label class="flex-item">
                <input type="checkbox" class="editors" value="vscode" name="editors" checked><span></span>
            </label>
        </div>

        <h2>Path to Project</h2>
        <input type="text" class="name" name="project_path">
        
        <div align="center">
            <button type="submit" class='submit' value="submit">Get Project Configuration</button>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/tools.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="sweetalert2.all.min.js"></script>
    <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <script src="sweetalert2.min.js"></script>
</body>
</html>