<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>M.I.R.R.O.R</title>
    <link rel="stylesheet" href="/static/baserock.css">
</head>
<body>
    <h1 align="center">M.I.R.R.O.R <br><small>Most Instantaneous Reproducible Research On 'Roids</small></h1>
    <div align="center">
        <a class='button' href="/configurator"> Configure your Project</a>
    </div>
</body>
</html>