<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>M.I.R.R.O.R | Processed Configuration</title>
    <link rel="stylesheet" href="/static/baserock.css">
</head>
<body align="center">
    <a href="/" class="heading"><h1 align="center">M.I.R.R.O.R<br><small>Most Instantaneous Reproducible Research On 'Roids</small></h1></a>
	<h3 align="center" class="thanks">Thanks for using M.I.R.R.O.R. You can download the project configuration below!</h3>
    <div align="center">
        <img class="homesvg_configure" src="/static/artificial_intelligence.svg" alt="Configure your Deep Learning Project as fast as possible!">
    </div>
    <div align="center">
        <a href="/download/{{process_id}}/{{project_name}}" class="button">Download!</a>
    </div>
</body>
</html>